
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../static/css/bootstrap.min.css">
  <link rel="stylesheet" href="../static/css/dataTables.bootstrap4.min.css">
  <script src="../static/js/jquery.min.js"></script>
  <script src="../static/js/popper.min.js"></script>
  <script src="../static/js/bootstrap.min.js"></script>
  <script src="../static/js/jquery.dataTables.min.js"></script>
  <script src="../static/js/dataTables.bootstrap4.min.js"></script>


</head>
<body>
<!-- <input type="checkbox" class='checkbox form-checkbox form-control' name="select" id="">
<input type="radio" class="radio form-radio form-control" name="radio" id="">

<select name="Dropdown" class='select form-select form-control' id="">
    <option value="">Test 1</option>
    <option value="">Test 2</option>
    <option value="">Test 3</option>

</select> -->
<h2 style="text-align: center; background-color: #092a50; color: #ffffff; padding: 10px;">Student Dashboard</h2>
<div class="container">
     <div class="content-section mt-3 mb-3">
         <div class="media">
             <img src=" {{ profile }} " height="100" width="100" alt="" class="rounded-circle pull-right  account-img mb-3">
             <div class="media-body ml-4">
                 <h2 class="account-heading"> {{ current_user.first_name }} {{ current_user.last_name }} </h2>
                 <p class="text-secondary"> {{ current_user.username }} </p>
             </div>
         </div>
     </div>
   </div>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <a class="navbar-brand" href="/home">Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse pull-right navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/dashboard">Dashboard</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/dashboard/edit">Edit Profile</a>
      </li>  
      <li class="nav-item">
        <a class="nav-link" href="/new_post">Create Post</a>
      </li>  
      <li class="nav-item">
        <a class="nav-link" href="/courses">Courses</a>
      </li>
      <li><a class="nav-link" href="/add_course">Add Courses</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/logout">Logout</a>
      </li>  
    </ul>
  </div>  
</nav>
    

<div class="card-body">
  <div class="container">
  <h4 class="text-center">Student Details</h4><hr>
  <div class="row">
    <div class="col-md-6">
    <h4>Level</h4>
    <p> {{ current_user.level }} </p>
    </div>
    <div class="col-md-6">
    <h4>Department</h4>
    <p> {{ current_user.department }} </p>
    </div>
  </div><hr>
  <div class="row">
    <div class="col-md-6">
    <h4>Email</h4>
    <p> {{ current_user.email }} </p>
    </div>
    <div class="col-md-6">
    <h4>Address</h4>
    <p> {{ current_user.address }} </p>
    </div>
  </div><hr>
  <div class="row">
    <div class="col-md-6">
    <h4>Date of Birth</h4>
    <p> {{ current_user.dob }} </p>
    </div>
    <div class="col-md-6">
    <h4>Gender</h4>
    <p> {{ current_user.gender }} </p>
    </div>
  </div><hr>
  <h4 class="text-center">My Courses</h4><hr>
        <div class="table-responsive">
          <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            <thead>
              <tr>
                <th>S/N</th>
                <th>Course Code</th>
                <th>Title</th>
                <th>Semester</th>
                <th>Credit Unit</th>
              </tr>
            </thead>
            <tfoot>
              <tr>
                <th>S/N</th>
                <th>Course Code</th>
                <th>Title</th>
                <th>Semester</th>
                <th>Credit Unit</th>
              </tr>
            </tfoot>
            <tbody>
              {% for course in courses %}
              <tr>
                <td> {{ x }} </td>
                <td>{{ course.course_code }}</td>
                <td>{{ course.course_title }}</td>
                <td>{{ course.semester }}</td>
                <td>{{ course.credit_unit }}</td>
              </tr>
              {% endfor %}
          </tbody>
      </table>
  </div>
</div>
</body>
</html>